<!-- <app-header></app-header> -->

<app-header></app-header>

<!-- Section d'introduction -->
<section class="intro">
    <div class="container">
      <h1>Bienvenue sur mon Portfolio</h1>
      <p>Je suis Mame bassine NIANG, un développeuse passionnée par le codage.</p>
      <button class="cta-btn">Découvrez mes projets</button>
    </div>
  </section>
  
  <!-- Section Compétences -->
  <section class="competences">
    <div class="container">
      <h2>Compétences</h2>
      <div class="skills">
        <div class="skill">
          <h3>Développement Web</h3>
          <p>HTML, CSS, JavaScript, Angular, Laravel</p>
        </div>
        <div class="skill">
          <h3>Base de données</h3>
          <p>MySQL, PostgreSQL</p>
        </div>
        <div class="skill">
          <h3>Versionning</h3>
          <p>Git, GitHub</p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Section de projets -->
  <section class="projets">
    <div class="container">
      <h2>Mes Projets</h2>
      <p>Découvrez mes projets récents. Cliquez ci-dessous pour en savoir plus.</p>
      <button class="cta-btn">Voir mes projets</button>
    </div>
  </section>
  
  <!-- Section contact -->
  <section class="contact">
    <div class="container">
      <h2>Contactez-moi</h2>
      <p>Vous souhaitez collaborer avec moi ? N'hésitez pas à me contacter !</p>
      <button class="cta-btn">Contactez-moi</button>
    </div>
  </section>
  
  <app-footer></app-footer>